@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@700&display=swap');


* {
    padding: 0 4px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    
}
nav {
    display: flex;
    justify-content: space-between;
    
}

#personal-logo {
    width: 50px;
    max-width: 50px;
    filter: invert(1);
}

.nav__link--list {
   display: flex;
   list-style: none;
   font-size: small;
}

.nav__link--anchor {
    list-style: none;
    padding-left: 16px;

}